<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.p01.AdminMapper">
	<!-- DAOImple의 순서와 메소드 이름이 비슷하게 생성 꼭 인지 -->
	
	<!-- 상품 등록 -->
	<!-- 
	insert문이 실행되기 전에 <selectkey> 태그 내의; 쿼리문이 실행되고,
	쿼리 문의 결과 값이 keyProperty 속성 값으로 지정한 'productNo(ProductVO 멤버변수)에
	resultType 속성 값으로 지정한 int 타입으로 반환한다는 의미
	 -->
	 <!-- 
	 주의 사항 : 이미지 업로드 selectKey 참고
	  -->
	<insert id="insert">
	
		<selectKey resultType="int" keyProperty="productNo" order="AFTER">
			SELECT pro01_product_seq.currval from dual
		</selectKey>
	
		insert into ${pro01_product} (${productName}, ${cateCode}, ${productPrice}, ${productAmount}, ${productIntro})
			values (#{productName}, #{cateCode}, #{productPrice}, #{productAmount}, #{productIntro})
	</insert>
	
	<!-- 상품 전체 읽기 -->
	<select id="read_all">
		select * from ${pro01_product}
		order by ${productNo} desc
	</select>
	
	<!-- 상품 상세 -->
	<select id="select_by_productNo" resultType="ProductVO">
		select * from ${pro01_product} where ${productNo} = #{productNo}
	</select>
	
	<!-- 카테고리 리스트 -->
    <select id="cateList" resultType="CateVO">
   		select * from ${pro01_category} order by ${cateCode} desc
    </select>
	
	<!-- 상품 정보 수정 -->
	<update id="update">
		update ${pro01_product}
		set ${productName} = #{productName},
			${cateCode} = #{cateCode},
			${productPrice} = #{productPrice},
			${productAmount} = #{productAmount},
			${productIntro} = #{productIntro}
		where ${productNo} = #{productNo}
	</update>
	
	<!-- 상품 정보 삭제 -->
	<delete id="delete">
		delete from ${pro01_product}
		where ${productNo} = #{productNo}
	</delete>
	
	<!-- 이미지 등록 -->
	<insert id="imageEnroll">
		insert into pro01_image(product_no, fileName, uploadPath, uuid) values (#{productNo}, #{fileName}, #{uploadPath}, #{uuid})
	</insert>
	
	<!-- 지정 상품 이미지 전체 삭제 -->
	<delete id="deleteImageAll">
		delete from pro01_image where product_no = #{productNo}
	</delete>
	
	<!-- 어제자 날짜 이미지 리스트 -->
	<select id="checkFileList" resultType="AttachImageVO">
		select * from pro01_image where uploadpath = to_char(sysdate -1, 'yyyy\mm\dd')
	</select>
	
	<!-- 지정 상품 이미지 정보 얻기 -->
	<select id="getAttchInfo" resultType="AttachImageVO">
		select * from pro01_image where ${productNo} = #{productNo}
	</select>
	
	<!-- 상품 리스트 불러오기 -->
	<select id="product_select_all" resultType="productVO">  
		<![CDATA[
	          select * from (
	            select /*+INDEX_DESC(pro01_product PROJECT01_PRODUCET_PK) */ 
	                  rownum as rn, product_no, product_name, 
	                  (select cate_name from pro01_category where pro01_product.cate_code = pro01_category.cate_code) cate_name, product_price, product_amount, product_intro, product_reg_date, product_mod_date
	            from pro01_product 
	            where
	    ]]>         
	           
	    		<if test="keyword != null">
			    
				    product_name like '%' || #{keyword} || '%' and
				    
			    </if>    
	            
	    <![CDATA[        
	            rownum <= #{page} * #{numsPerPage}
	            )
	        	where rn > (#{page} - 1) * #{numsPerPage}
	    ]]>
    </select>
    
    <!-- 상품 총 개수 -->
	<select id="product_total_count" resultType="Integer">
	
	    select count(*) from ${pro01_product}
    	
    	<if test="keyword != null">
  			where product_name like '%' || #{keyword} || '%'
  		</if>
  		
	</select>
    
    <select id="getProductNoList" resultType="Integer">
    	select ${productNo} from ${pro01_product} where ${productName} like '%' || #{keyword} || '%'
    </select>
    
    <!-- 상품명 선택 -->
    <select id="select_by_pName" resultType="ProductVO">
    	select * from ${pro01_product}
    	where ${productName} like #{productName}
    </select>
    
    <!-- 상품 키워드로 검색 -->
    <select id="select_by_title_content" resultType="ProductVO">
    	select * from ${pro01_product}
    	where ${productName} like #{keyword} or
    		  ${cateCode} like #{keyword}
    		  order by #{productNo} desc
    </select>
   
   	
  
</mapper>










