@charset "UTF-8";
.warn_productName {
  display: none;
  color: red;
}
.warn_productName {
  display: none;
  color: red;
}
.warn_category {
  display: none;
  color: red;
}
.warn_price {
  display: none;
  color: red;
}
.warn_amount {
  display: none;
  color: red;
}
.warn_proIntro {
  display: none;
  color: red;
}

#result_card img{
	max-width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    margin-top: 10px;
    margin: auto;	
}
#result_card {
	position: relative;
}
.imgDeleteBtn{
    position: absolute;
    top: 0;
    right: 5%;
    background-color: #ef7d7d;
    color: wheat;
    font-weight: 900;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    border: none;
    display: block;
    cursor: pointer;	
}